

.getstartedbtn {
    box-sizing: border-box;
    width: 147.6px;
    height: 41px;
    background: #1B6AE4;
    border-radius: 6px;
    border: none;
}

.grid-container-getstarted {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-item-getstarted {
    padding: 20px;
    align-self: center;
  }

  @media screen and (max-width: 991px) {
    .grid-container-getstarted {
    display: block;
    }

   
  }
