#top-bg {
    background-image: url('../src/assets_landingPage/main_bg.png');
    height: 120vh;  
    width:100vw;  
}

#contractdetails{
    background-image: url('./assets_landingPage/contractdg.svg');
    height: 130vh;  
    width:100%;  
}

#checkactivitysec{
    background-image: url('./assets_landingPage/checkactivity.png');  
    background-repeat: no-repeat;
    height: 100vh;  
    width:100vw; 
}

#bottombg{
    background-image: url('./assets_landingPage/bottombg.png');  
    height: 120vw;  
    width:100vw; 
}