#top-bg {
    background-image: url('../src/assets_landingPage/main_bg.png');
    /* width:100vw;   */
}

#contractdetails{
    background-image: url('./assets_landingPage/contractdg.png');
    /* height: 130vh;  
    width:100%;   */
}

#checkactivitysec{
    background-image: url('./assets_landingPage/checkactivity.png');  
    background-repeat: no-repeat;

}

@media screen and (max-width: 768px) {
    #checkactivitysec {
      background: rgb(18,31,100);  
      background-color: rgb(18,31,100);
      background-image:url('./assets_landingPage/alternateimg.png') ; 
      background-repeat: no-repeat;
    }
  }

 
